#header
   .navbar-form
      border none

.todo
   .panel-footer
      a
         display block
         cursor pointer
         .remove
            font-size 16px
            line-height 23px
         .fave
            font-size 20px
            &.glyphicon-star
               color #FCD402
