<div class="row">
   <div ng-repeat="todo in todos | orderBy:'-fave' track by $index">
      <div ng-if="$index % 3 == 0" class="clearfix"></div>
      <div class="col-md-4">
         <div class="panel panel-default todo" ng-class="todo.fave ? 'panel-warning':''">
            <div class="panel-heading">
               {{todo.title}}
            </div>
            <div class="panel-body">{{todo.description}}</div>
            <div class="panel-footer clearfix">
               <div class="col-md-6 text-center">
                  <a ng-click="faveTodo(todo.id)"><i class="glyphicon fave" ng-class="(todo.fave) ? 'glyphicon-star' : 'glyphicon-star-empty'"></i></a>
               </div>
               <div class="col-md-6 text-center">
                  <a ng-click="removeTodo(todo.id)"><i class="glyphicon glyphicon-trash remove"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div ng-hide="todos.length">No todos yet!</div>
</div>